*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

header{
  padding: 10px 3% 40px 3%;
  background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(220, 220, 220));
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clear{
  clear: both;
}

.logo-1{
  float: left;
  width: 160px;
  height: 90px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.logo-2{
  float: right;
  width: 160px;
  height: 90px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

main.cover-form{
  width: 100%;
  padding: 0 2%;
}

.bg{
  height: 550px;
  background-position: center;
  background-size: cover;
  background-image: url('https://silversea-h.assetsadobe2.com/is/image/content/dam/silversea-com/api-provided/ports/a/antibes/ECM_251737_silversea-mediterranean-cruise-cannes-antibes-france.jpg?wid=1200&hei=1200&fit=constrain');
}

.form-container {  
  float: right;
  margin-right: 40px;
  width: 400px;
  height: 105%;
  position: relative;
  top: -2.5%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 1px 1px 2px 1px  rgb(180,180,180);
}

.form-container h2{
  font-weight: normal;
  background-color: rgb(220,220,220);
  padding: 25px 15px;
  color: black;
  font-size: 18px;
}

.form-container form {
  margin-top: 15px;
  padding: 10px;
}

.form-container form p{
  font-size: 14px;
  color: #525252;
  margin-bottom: 5px;
}

.form-wrapper:not(:first-child){
  margin-top: 40px;
}

.form-wrapper:last-child{
  margin-top: 20px;
}

.form-container form input[type=text],.form-container form input[type=email], .form-container form input[type=phone] {
  width:100%;
  border: 1px solid black;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border-radius: 15px;
}

.form-container form input[type=submit]{
  background-color: #033c50;
  text-transform: uppercase;
  color: white;
  width: 100%;
  font-size: 25px;
  height: 50px;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

section.chamada {
  text-align: center;
  width: 100%;  
}

section.chamada .container{
  background: linear-gradient(to top, rgb(121, 121, 121), rgb(180, 180, 180));
  padding: 50px 0;
}

section.chamada h2 {
  display: inline-block;
  font-size: 26px;
  font-weight: normal;
  text-align: center;
  color: rgba(255, 255, 255, 0.938);
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: #eee;
  width: 96%;
  max-width: 700px;
}

section.chamada p{
  width: 96%;
  max-width: 700px;
  display: inline-block;
  color: white;
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
}

.flex-mosaico {
  display: flex;
}

.item1-mosaico{
  background-position: center;
  background-size: cover;
  width: 60%;
}

.item2-mosaico{
  background-color: rgb(140, 140, 140);
  padding: 60px 40px;
  width: 40%;
  color: white;
  text-align: contain;
}

footer {
  text-align: center;
  padding: 10px;
  background: linear-gradient(to top, rgb(121, 121, 121), rgb(180, 180, 180));
}

@media screen and (max-width: 960px){
  .bg {
    height: auto;
    padding: 40px 0;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .form-container {
    width: 100%;
    height: auto;
    max-width: 400px;
  }
}

@media screen and (max-width: 768px){
  .flex-mosaico{
    display:block;
  }

  .item1-mosaico{
    padding-top: 100%;
    width: 100%;
  }

  .item2-mosaico{
    width: 100%;
    text-align: justify;
    padding: 20px 10px;
  }
}

@media screen and (max-width: 510px){
  header{
    text-align: center;
  }
  
  [class^="logo"]{
    display: inline-block;
    float: none;
  }
}
